.description .item-des:before{
    content: '';
    margin-left: -20px;
    background: url(https://ecshopvietnam.com/ecshopmi/cdn/themes/metavn/img/check@2x.png);
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    margin-right: 0;
    float: left;
    margin-top: 5px;
}
